@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100svw;
  min-height: 100svh;
  height: auto;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #fff7ed;
}

.homepage--container {
  background-image: url(./assets/images/homepage.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem 5rem;
  color: white;
}

.homepage--container p {
  line-height: 20px;
  text-align: start;
}

.homepage--button {
  width: 100%;
}

.homepage--button button {
  width: 100%;
  height: 37px;
  margin: 3rem 0 2rem;
  border-radius: 5px;
  background-color: #ff8c38;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
}
